nav.navbar.navbar-light.bg-light
  .container-fluid
    .navbar-header.navbar-inline
      a(href="/home").navbar-brand Accueil
      a(href='/construction').mr-4 Bâtiments
      a(href='/troupes').mr-4 Troupes

    ul.nav.navbar-nav  
      if !session 
        li 
          a(href="/register") Inscription
      else 
        li
          p Bonjour #{user.firstname} !
        li
          a(href="/account") Compte
      li
        a(href=session ? '/logout' : '/login')= session ? 'Déconnexion' : 'Connexion' 