extends ../layout

block content

    h2 Troupes

    table.table
        thead
            tr
                th Nom
                th Élixir
                th Level
                th DPS
        tbody
                tr
                    td= 
                    td=
                    td= 
                    td

    br
    form(action='/decks/' + deck.id + '?_method=DELETE', method='POST')
        button.btn.btn-default Supprimer
    br
    a(href='/decks/' + deck.id + '/edit') 
        button.btn.btn-default Modifier