extends ../layout

block content

	h2 Tous les hôtels de ville

	table.table
		thead
			tr
				th Nom
				th Points de vie
				th Niveau
		tbody
			each card in cards
				if card.maxLevel == 13
					tr
						td
							p= Hôtel de ville
						td
							p= 
						td
							p=1
			else
				p Pas decartes
